/*Global Reset*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #717171;
  border-top: 10px solid #1098ad;
}

.container {
  width: 1000px;
  margin: auto auto;
}

.main-header-magazine {
  background-color: #f7f7f7;
  /*Short-hand property for padding */
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

.post-header {
  margin-bottom: 30px;
}

article {
  margin-bottom: 60px;
}

nav {
  font-size: 20px;
  margin-left: 10px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0px;
  width: 500px;
  margin-bottom: 20px;
}

h1,
h2,
h3 {
  color: #43b6c8;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 40px;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.bullet-point {
  list-style: none;
}

article ul li:nth-child(-n + 1),
article ol li:nth-child(-n + 1) {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/*Choosing the position of the child,
We can use numbers or odd/even keywords*/

/* Misconception: This won't work because the first child is a heading, 
not a paragraph.
article p:first-child {
  color: red;
}*/

/*Styling links*/
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
  text-decoration: none;
}

a:hover {
  color: orangered;
  text-decoration: underline;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post-img {
  width: 100%;
  height: auto;
}

/*Resolving conflicts*/
/*
#copyright {
  color: #ff0000;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
}
  */
